---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cert-manager-sync
rules:
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get", "watch", "list", "create", "update", "patch", "delete"]
  
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cert-manager-sync
  namespace: cert-manager
subjects:
- kind: ServiceAccount
  name: cert-manager-sync
roleRef:
  kind: ClusterRole
  name: cert-manager-sync
  apiGroup: rbac.authorization.k8s.io
